.cc_container{

    background-image: url("https://images3.alphacoders.com/812/812062.png");
    background-attachment: fixed;
    background-size: 100% 100%;   
    height: 950px;
}
.cc_container_simplebar{
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    color: rgba(251, 255, 38, 0.911);
    /* color: rgb(175, 231, 22); */
}
.cc_container_simplebar_galery{
    margin: 1%;
}
.cc_container_form{
display: flex;
justify-content: center;
}
button{
    padding: 5px;
    width: 120px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5%;
    border: 15px;
}
input{
    margin-left: 2%;
    padding: 5px;
    width: 250px;
    height: 26px;
}